<div class="accordion" role="tablist" aria-multiselectable="true">
  <div class="accordion__panel" *ngFor="let item of items; let index = index">
    <div class="accordion__heading" role="tab">
      <button
        type="button"
        class="accordion__trigger"
        [class.accordion__trigger--collapsed]="!isOpen(index)"
        [attr.aria-expanded]="isOpen(index)"
        (click)="toggle(index)">
        {{ item.title }}
      </button>
    </div>

    <div class="accordion__collapse" [class.accordion__collapse--open]="isOpen(index)" role="tabpanel">
      <div class="accordion__content">
        <p>{{ item.content }}</p>
      </div>
    </div>
  </div>
</div>
