<button
  [type]="type"
  [attr.form]="form"
  class="btn"
  [ngClass]="[variantClass, sizeClass, loading ? 'btn--loading' : '']"
  [disabled]="resolvedDisabled"
  [attr.aria-busy]="loading"
  (click)="onClick($event)">
  <span class="btn__label">
    <span class="btn__effect-inner">
      <span class="btn__effect-l"><span>{{ label }}</span></span>
      <span class="btn__effect-r"><span>{{ label }}</span></span>
      <span class="btn__effect-shade"><span>{{ label }}</span></span>
    </span>
  </span>
  @if (loading) {
    <span class="btn__loading" aria-hidden="true">
      <span class="btn__loading-text">{{ resolvedLoadingLabel }}</span>
      <span class="btn__loading-dots">
        <span></span>
        <span></span>
        <span></span>
      </span>
    </span>
  }
</button>
