<header class="terra-header">
  <div class="terra-header__topbar">
    <div class="terra-header__container terra-header__container--topbar">
      <div class="terra-header__topbar-links">
        <a href="#">
          <span class="terra-header__topbar-effect">
            <span class="terra-header__topbar-effect-l"><span>{{ t('navSupport') }}</span></span>
            <span class="terra-header__topbar-effect-r"><span>{{ t('navSupport') }}</span></span>
            <span class="terra-header__topbar-effect-shade"><span>{{ t('navSupport') }}</span></span>
          </span>
        </a>
        <a href="#">
          <span class="terra-header__topbar-effect">
            <span class="terra-header__topbar-effect-l"><span>{{ t('navForum') }}</span></span>
            <span class="terra-header__topbar-effect-r"><span>{{ t('navForum') }}</span></span>
            <span class="terra-header__topbar-effect-shade"><span>{{ t('navForum') }}</span></span>
          </span>
        </a>
      </div>

      <div class="terra-header__top-actions">
        <div class="terra-language">
          <ui-language-flag-trigger
            [flagSrc]="selectedLanguage.flag"
            [flagAlt]="selectedLanguageLabel"
            [expanded]="isLanguageMenuOpen"
            [ariaLabel]="t('uiLanguageSelector')"
            (trigger)="toggleLanguageMenu()">
          </ui-language-flag-trigger>

          <ul *ngIf="isLanguageMenuOpen" class="terra-language__menu" role="listbox">
            <li *ngFor="let option of languageOptions" role="option" [attr.aria-selected]="option.code === currentLanguage">
              <button type="button" class="terra-language__option" [attr.aria-label]="t(option.label)" (click)="selectLanguage(option.code)">
                <img class="terra-language__flag" [src]="option.flag" [alt]="t(option.label)" />
              </button>
            </li>
          </ul>
        </div>

        <div class="terra-header__socials">
          <ui-social-icon *ngFor="let social of socials" [href]="social.href" [title]="social.title" [iconClass]="social.iconClass">
          </ui-social-icon>
        </div>
      </div>
    </div>
  </div>

  <div class="terra-header__main">
    <div class="terra-header__container terra-header__container--main">
      <a [routerLink]="'/'" class="terra-logo terra-logo--main">Terra</a>

      <ui-menu-toggle [open]="isMobileMenuOpen" [ariaLabel]="t('uiToggleMenu')" (toggle)="toggleMobileMenu()">
      </ui-menu-toggle>

      <ul class="terra-main-links" (mouseenter)="cancelCloseTimer()" (mouseleave)="scheduleCloseAll(400)">
        <li
          *ngFor="let item of navItems"
          class="terra-main-links__item"
          [class.terra-main-links__item--open]="isDropdownOpen(item)"
          (mouseenter)="openDropdown(item)"
          (mouseleave)="scheduleClose(item, 200)">
          <ui-nav-link
            [label]="t(item.labelKey)"
            [href]="item.href"
            [routerLink]="item.href.startsWith('/') ? item.href : null"
            [active]="item.labelKey === 'navHome' || isDropdownOpen(item)"
            [drop]="!!item.drop"
            [showDots]="true">
          </ui-nav-link>

          <ul *ngIf="item.children?.length" class="terra-dropdown">
            <li *ngFor="let child of item.children">
              <ui-nav-link [label]="t(child.labelKey)" [href]="child.href" [drop]="true" [splitEffect]="true" [dropdown]="true">
              </ui-nav-link>

              <ul *ngIf="child.children?.length" class="terra-dropdown terra-dropdown--sub">
                <li *ngFor="let leaf of child.children">
                  <ui-nav-link [label]="t(leaf.labelKey)" [href]="leaf.href" [dropdown]="true"></ui-nav-link>
                </li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>

      <div class="terra-auth-links" *ngIf="!loggedIn(); else sessionMenuDesktop">
        <ui-nav-link [label]="t('navLogin')" href="#" [showDots]="true" (clicked)="requestAuth('login', $event)"></ui-nav-link>
        <ui-nav-link [label]="t('navRegister')" href="#" [showDots]="true" (clicked)="requestAuth('register', $event)"></ui-nav-link>
      </div>

      <ng-template #sessionMenuDesktop>
        <div class="terra-account-menu">
          <button
            type="button"
            class="terra-account-menu__trigger"
            [attr.aria-label]="t('navAccountMenu')"
            [attr.aria-expanded]="isAccountMenuOpen"
            (click)="toggleAccountMenu($event)">
            <img *ngIf="sessionAvatar()" class="terra-account-menu__avatar" [src]="sessionAvatar()!" [alt]="sessionEmail()" />
          </button>

          <div *ngIf="isAccountMenuOpen" class="terra-account-menu__dropdown">
            <p class="terra-account-menu__eyebrow">{{ t('navLoggedInAs') }}</p>
            <p class="terra-account-menu__email">{{ sessionEmail() }}</p>

            <button type="button" class="terra-account-menu__action" (click)="goToPanel($event)">{{ t('navPanel') }}</button>
            <button type="button" class="terra-account-menu__action" (click)="goToConfiguration($event)">{{ t('navConfiguration') }}</button>
            <button type="button" class="terra-account-menu__action terra-account-menu__action--danger" (click)="logout($event)">{{ t('navLogout') }}</button>
          </div>
        </div>
      </ng-template>
    </div>
  </div>

  <div *ngIf="isMobileMenuOpen" class="terra-mobile-overlay terra-mobile-overlay--open" (click)="closeMobileMenu()"></div>

  <aside class="terra-mobile-menu" [class.terra-mobile-menu--open]="isMobileMenuOpen" aria-hidden="{{ !isMobileMenuOpen }}">
    <div class="terra-mobile-menu__header">
      <a [routerLink]="'/'" class="terra-logo" (click)="closeMobileMenu()">Terra</a>
    </div>

    <ul class="terra-mobile-nav" *ngIf="!mobileActiveParent; else mobileSubmenu">
      <li *ngFor="let item of navItems" class="terra-mobile-nav__item">
        <ng-container *ngIf="item.children?.length; else mobileSingle">
          <button type="button" class="terra-mobile-nav__trigger terra-mobile-nav__trigger--drop" (click)="openMobileSubmenu(item)">
            {{ t(item.labelKey) }}
          </button>
        </ng-container>
        <ng-template #mobileSingle>
          <ui-nav-link
            [label]="t(item.labelKey)"
            [href]="item.href"
            [routerLink]="item.href.startsWith('/') ? item.href : null"
            [mobile]="true"
            [showDots]="true"
            [dotPosition]="'left'"
            (click)="closeMobileMenu()">
          </ui-nav-link>
        </ng-template>
      </li>
    </ul>

    <ng-template #mobileSubmenu>
      <ul class="terra-mobile-nav">
        <li class="terra-mobile-nav__item">
          <button type="button" class="terra-mobile-nav__trigger terra-mobile-nav__trigger--back" (click)="closeMobileSubmenu()">
            {{ t('navBack') }}
          </button>
        </li>
        <li *ngFor="let child of mobileActiveParent?.children" class="terra-mobile-nav__item">
          <ui-nav-link [label]="t(child.labelKey)" [href]="child.href" [mobile]="true" [showDots]="true" [dotPosition]="'left'"></ui-nav-link>
        </li>
      </ul>
    </ng-template>

    <div class="terra-mobile-auth" *ngIf="!loggedIn(); else sessionMenuMobile">
      <a href="#" class="terra-mobile-auth__link" (click)="requestAuth('register', $event)"><span>{{ t('navRegister') }}</span></a>
      <a href="#" class="terra-mobile-auth__link" (click)="requestAuth('login', $event)"><span>{{ t('navLogin') }}</span></a>
    </div>

    <ng-template #sessionMenuMobile>
      <div class="terra-mobile-session">
        <div class="terra-mobile-session__identity">
          <img *ngIf="sessionAvatar()" class="terra-mobile-session__avatar" [src]="sessionAvatar()!" [alt]="sessionEmail()" />
          <div>
            <p class="terra-mobile-session__eyebrow">{{ t('navLoggedInAs') }}</p>
            <p class="terra-mobile-session__email">{{ sessionEmail() }}</p>
          </div>
        </div>

        <div class="terra-mobile-session__actions">
          <a href="#" class="terra-mobile-auth__link" (click)="goToPanel($event)"><span>{{ t('navPanel') }}</span></a>
          <a href="#" class="terra-mobile-auth__link" (click)="goToConfiguration($event)"><span>{{ t('navConfiguration') }}</span></a>
          <a href="#" class="terra-mobile-auth__link" (click)="logout($event)"><span>{{ t('navLogout') }}</span></a>
        </div>
      </div>
    </ng-template>
  </aside>
</header>
