.terra-page-border__top,
.terra-page-border__right,
.terra-page-border__bottom,
.terra-page-border__left {
  position: fixed;
  z-index: 2000;
  user-select: none;
  pointer-events: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.terra-page-border__top,
.terra-page-border__bottom {
  left: 0;
  width: 100%;
  height: var(--page-border-size, 100px);
}

.terra-page-border__left,
.terra-page-border__right {
  top: 0;
  height: 100%;
  width: var(--page-border-size, 100px);
}

.terra-page-border__top {
  top: 0;
  background-image: url("/assets/images/border-top.png");
}

.terra-page-border__bottom {
  bottom: 0;
  background-image: url("/assets/images/border-bottom.png");
}

.terra-page-border__left {
  left: 0;
  background-image: url("/assets/images/border-left.png");
}

.terra-page-border__right {
  right: 0;
  background-image: url("/assets/images/border-right.png");
}

@media (max-width: 543px) {
  .terra-page-border__top,
  .terra-page-border__bottom {
    height: var(--page-border-size-mobile, 50px);
  }

  .terra-page-border__left,
  .terra-page-border__right {
    width: var(--page-border-size-mobile, 50px);
  }
}
