@if (!hidePublicChrome()) {
  <div class="terra-page-border" aria-hidden="true">
    <div class="terra-page-border__top"></div>
    <div class="terra-page-border__right"></div>
    <div class="terra-page-border__bottom"></div>
    <div class="terra-page-border__left"></div>
  </div>
}

@if (!hidePublicChrome()) {
  <ui-navbar (authRequested)="openAuthOverlay($event)"></ui-navbar>
}
<router-outlet></router-outlet>
<app-auth-overlay-container
  [open]="authOverlayOpen()"
  [mode]="authOverlayMode()"
  (closed)="closeAuthOverlay()"
  (loginCompleted)="handleLoginCompleted()">
</app-auth-overlay-container>
<ui-toast-outlet></ui-toast-outlet>
