@import "./styles/tokens.css";
@import "./styles/fonts.css";

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background: var(--c-page-bg);
  color: var(--c-page-text);
  font-family: var(--font-ui);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
