@if (isVisible()) {
  <div
    class="site-preloader"
    [class.site-preloader--hide]="isHiding()"
    [class.site-preloader--inline]="!fullScreen"
    [style.--site-preloader-mask-image]="'url(' + maskSrc + ')'"
    [style.z-index]="zIndex"
    aria-live="polite"
    aria-busy="true">
    <div class="site-preloader__mask" aria-hidden="true"></div>

    @if (showLogo) {
      <div class="site-preloader__logo">
        <img [src]="logoSrc" alt="Terra loading" />
      </div>
    }

    @if (showProgressBar) {
      <div class="site-preloader__bar" aria-hidden="true">
        <span></span>
      </div>
    }

    @if (showSignalBars) {
      <div class="site-preloader__signal-block">
        <div class="site-preloader__signal-bars" aria-hidden="true">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </div>
        <p class="site-preloader__loading-label">
          <span>{{ loadingLabel() }}</span>
          <span class="site-preloader__loading-dots" aria-hidden="true">
            <span>.</span>
            <span>.</span>
            <span>.</span>
          </span>
        </p>
      </div>
    }
  </div>
}
